<fa-icon
  icon="life-ring"
  pull="center"
  style="color: white"
  size="2x"
></fa-icon>
<div style="display: flex; flex-direction: row; justify-content: center">
  <ul>
    <li>
      <fa-icon
        icon="trophy"
        pull="center"
        style="color: white"
        size="2x"
      ></fa-icon>
    </li>
    <li>
      <fa-icon
        icon="coffee"
        pull="center"
        style="color: white"
        size="2x"
      ></fa-icon>
    </li>
    <li>
      <fa-icon
        icon="users"
        pull="center"
        style="color: white"
        size="2x"
      ></fa-icon>
    </li>
  </ul>
</div>
<fa-icon icon="braille" pull="center" style="color: white" size="2x"></fa-icon>
