<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content-sub">
    <div class="overlay" *ngIf="!!mainService.activateCompetition$.value">
      <div class="overlay__message">
        Please choose a number between [1,0,-1] in order to get to a number that
        is divisible by 3 Who reaches result as 1 is the WINNER!
      </div>
    </div>
    <app-competition></app-competition>
  </div>
  <div class="main">
    <app-main></app-main>
  </div>
</div>

<div></div>
