<div class="container">
  <div class="sidebar">
    <app-sidebar></app-sidebar>
  </div>
  <div class="content-sub">
    <div class="overlay" *ngIf="!!mainService.activateCompetition$.value">
      <div class="overlay__message">
        For the rooms list either you should wait untile your current game is
        completed or just click leave room button
      </div>
    </div>
    <app-competition></app-competition>
  </div>
  <div class="main">
    <app-main></app-main>
  </div>
</div>

<div></div>
