:host {
  .c-avatar {
    border-radius: 50%;
    border: 5px solid;
    border-color: rgba(71, 98, 240, 0.12);
    margin-right: 5px;
    width: 45px;
    height: 45px;
  }

  .c-avatar__placeholder {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #f6f6f6;
  }
}
